/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-fundo-sobre:  #EAF2FD;
   --cor-de-fundo-boxs-skills-e-hobbies: #fff;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    margin: 0 auto;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/* Container */
.all{
    width: 100%;
    margin: 0 auto;
}


/*Sessão Menu*/
section.menu{
    margin:0 auto;
    width: 80%;
    background-color: var(--cor-de-fundo);
    height: Hug (88px)px;
    display: flex;
    align-items: center;
    width: Fixed (1,136px)px;
    padding: 32px 0px 32px 0px;
    opacity: 0px;
    justify-content: space-between;
}

section.menu header{
    display: flex;
    align-items: center;
    width: Hug (134px)px;
    height: Hug (24px)px;
    gap: 8px;
    opacity: 0px;    
}

section.menu ul{
    display: flex;
    width: Hug (642px)px;
    height: Hug (19px)px;
    gap: 32px;
    opacity: 0px;
}



/*Sessão Title*/
section.title{
    width: 80%;
    margin:0 auto
}
section.title div.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

section.title  .title__network{
    display: flex;
    padding: 0;
    gap:32px
}
section.title .title__bio{
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
}
section.title .title__subsection{
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
}

/*Sessão About*/

section.about{
    width: Fill (1,440px)px;
    height: Hug (383px)px;
    gap: 10px;
    opacity: 0px;
    padding: 64px 0;
    box-sizing: border-box;
    background-color: var(--cor-de-fundo-sobre);
}
section.about .about__container{
    margin:0 auto;
    width: 80%;
    width: Fixed (1,136px)px;
    height: Hug (255px)px;
    gap: 16px;
    opacity: 0px;
    line-height: 19px;
}
section.about .about__title{
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
}
section.about .about__paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: justify;
}


/*Sessão de Skills e Hobbies*/

section.skills, section.hobbies{
    width: Hug (1,136px)px;
    height: Hug (244px)px;
    margin:88px auto;
    gap: 32px;
    width: 80%;
}
section.skills .skills__line, section.hobbies .hobbies__line{
    display: flex;
    justify-content: space-between;
    gap:16px
}
section.skills ul, section.hobbies .hobbies__line ul{
    padding: 0;
}
section.skills .skills__title, section.hobbies .hobbies__title{
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    
}
section.skills .skills__box, section.hobbies .hobbies__box{
    width:175px;
    height: 174px;
    padding: 16px 16px 0px 16px;
    background-color: var(--cor-de-fundo-boxs-skills-e-hobbies);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Experiência Acadêmica*/
section.academic{
    background-color: var(--cor-de-fundo-sobre);
    width: Fill (1,440px)px;
    height: Hug (581px)px;
    padding: 82px;
    gap: 32px;
}
section.academic .academic__title{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
}
section.academic .academic__courses{
    display: flex;
    justify-content: center;
    gap: 16px;
}
section.academic img{
    width: 300px;
    height: 200px;
    gap: 10px;
}


/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
